.androidlarge-1
{
position:absolute;
background-color:#f6f3ec;
height:3021px;
width:360px;
padding:0px;
display:flex;
flex-direction:column;
flex-wrap:nowrap;
align-items:center;
justify-content:center;
}
.frame1
{
background-color:;
height:89px;
width:360px;
padding:0px;
position:absolute;
top:0px;
left:0px;
}
.ellipse3
{
background-color:#2f2f2f;
height:141px;
width:180px;
top:653px;
left:135px;
position:absolute;
border-radius:50%;
}
.ellipse2
{
background-color:#dbad47;
height:176px;
width:198px;
left:160px;
top:891px;
position:absolute;
}
.ellipse1
{
height:295px;
width:228px;
left:244px;
top:765px;
position:absolute;
border-radius:50%;
}
.наталья
{
color:#dbad47;
text-align:left;
vertical-align:text-top;
font-size:64px;
font-family:Poiret One;
align-self:flex-start;
left:36px;
top:139px;
position:absolute;
letter-spacing:undefinedpx;
line-height:auto;
border-style:hidden;
outline:none;
width:236px;
display:flex;
}
.я-парикмахер,такойжеиндивидуальный,какиты!
{
color:#000000;
text-align:right;
vertical-align:text-top;
font-size:14px;
font-family:Playfair Display;
align-self:flex-start;
left:148px;
top:209px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:202px;
display:flex;
}
.обомне
{
color:#dbad47;
text-align:right;
vertical-align:text-top;
font-size:48px;
font-family:Poiret One;
align-self:flex-start;
left:155px;
top:285px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:170px;
display:flex;
}
.моязадача
{
color:#dbad47;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Poiret One;
align-self:flex-start;
left:9px;
top:400px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:151px;
display:flex;
}
.более2летяпосвящаюсвоюжизньэтомуделуирадуюсвоихклиентовнезабываемымипричёсками
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:14px;
font-family:Playfair Display;
align-self:flex-start;
left:11px;
top:349px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:339px;
display:flex;
}
.делатьмоихклиентовкрашесчастливее
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:15px;
font-family:Playfair Display;
align-self:flex-start;
left:9px;
top:440px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:205px;
display:flex;
}
.ценыиуслуги
{
color:#dbad47;
text-align:left;
vertical-align:text-top;
font-size:48px;
font-family:Poiret One;
align-self:flex-start;
left:42px;
top:805px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:280px;
display:flex;
}
.стрижки
{
color:#dbad47;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Poiret One;
align-self:flex-start;
left:16px;
top:860px;
position:absolute;
line-height:129.99999523162842px;
border-style:hidden;
outline:none;
width:119px;
display:flex;
}
.стрижкаженскаястрижкамужскаястрижкачёлкиподравниваниеволос
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Playfair Display;
align-self:flex-start;
left:15px;
top:913px;
position:absolute;
line-height:129.99999523162842px;
border-style:hidden;
outline:none;
width:165px;
display:flex;
}
.line1
{
width:90px;
transform:rotate(89deg);
border:1px solid #dbad47;
top:997.02px;
left:223.5px;
position:absolute;
}
.р500р200р100р
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Playfair Display;
align-self:flex-start;
left:265px;
top:913px;
position:absolute;
line-height:129.99999523162842px;
border-style:hidden;
outline:none;
width:50px;
display:flex;
}
.прически-укладка
{
color:#dbad47;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Poiret One;
align-self:flex-start;
left:16px;
top:1013px;
position:absolute;
line-height:129.99999523162842px;
border-style:hidden;
outline:none;
width:259px;
display:flex;
}
.экспрессукладкалоконыпричёскаполировкаволосплетениекоспростоеплетениекоссложноекарвинг
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Playfair Display;
align-self:flex-start;
left:16px;
top:1066px;
position:absolute;
line-height:129.99999523162842px;
border-style:hidden;
outline:none;
width:173px;
display:flex;
}
.line2
{
width:140px;
left:365.5px;
top:1521.0032958984375px;
position:absolute;
}
.line3
{
width:140px;
transform:rotate(89deg);
border:1px solid #dbad47;
top:1209px;
left:306px;
position:absolute;
}
.корот500р1500р
{
text-align:left;
vertical-align:text-top;
font-size:16px;
align-self:flex-start;
left:201px;
top:1041px;
position:absolute;
line-height:129.99999523162842px;
border-style:hidden;
outline:none;
width:41px;
display:flex;
}
.сред150р800р1000р2200р250р500р2500р
{
text-align:left;
vertical-align:text-top;
font-size:16px;
align-self:flex-start;
left:255px;
top:1041px;
position:absolute;
line-height:129.99999523162842px;
border-style:hidden;
outline:none;
width:44px;
display:flex;
}
.длин1000р3000р
{
text-align:left;
vertical-align:text-top;
font-size:16px;
align-self:flex-start;
left:309px;
top:1041px;
position:absolute;
line-height:129.99999523162842px;
border-style:hidden;
outline:none;
width:46px;
display:flex;
}
.окрашивание
{
color:#dbad47;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Poiret One;
align-self:flex-start;
left:16px;
top:1229px;
position:absolute;
line-height:129.99999523162842px;
border-style:hidden;
outline:none;
width:197px;
display:flex;
}
.окрашиваниеводинтонкраскойклиентаокрашиваниеводинтонкраскойсалонатонированиебальзамоммелирование
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Playfair Display;
align-self:flex-start;
left:15px;
top:1282px;
position:absolute;
line-height:129.99999523162842px;
border-style:hidden;
outline:none;
width:186px;
display:flex;
}
.line4
{
width:125px;
transform:rotate(90deg);
border:1px solid #dbad47;
top:1408px;
left:246px;
position:absolute;
}
.line5
{
width:125px;
transform:rotate(90deg);
border:1px solid #dbad47;
top:1407px;
left:306px;
position:absolute;
}
.р1000р1000р1000
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Playfair Display;
align-self:flex-start;
left:202px;
top:1282px;
position:absolute;
line-height:129.99999523162842px;
border-style:hidden;
outline:none;
width:44px;
display:flex;
}
.р1500р200р2000р
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Playfair Display;
align-self:flex-start;
left:254px;
top:1282px;
position:absolute;
line-height:129.99999523162842px;
border-style:hidden;
outline:none;
width:46px;
display:flex;
}
.р2000р300р3000р
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Playfair Display;
align-self:flex-start;
left:310px;
top:1282px;
position:absolute;
line-height:129.99999523162842px;
border-style:hidden;
outline:none;
width:46px;
display:flex;
}
.окрашиваниебровейкоррекциябровейдолговременнаяукладкабровей
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Playfair Display;
align-self:flex-start;
left:17px;
top:1477px;
position:absolute;
line-height:129.99999523162842px;
border-style:hidden;
outline:none;
width:246px;
display:flex;
}
.р500р1000р
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Playfair Display;
align-self:flex-start;
left:297px;
top:1477px;
position:absolute;
line-height:129.99999523162842px;
border-style:hidden;
outline:none;
width:44px;
display:flex;
}
.услугибровиста
{
color:#dbad47;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Poiret One;
align-self:flex-start;
left:15px;
top:1424px;
position:absolute;
line-height:129.99999523162842px;
border-style:hidden;
outline:none;
width:225px;
display:flex;
}
.line6
{
width:69px;
transform:rotate(90deg);
border:1px solid #dbad47;
top:1540px;
left:277px;
position:absolute;
}
.портфолио
{
color:#dbad47;
text-align:left;
vertical-align:text-top;
font-size:48px;
font-family:Poiret One;
align-self:flex-start;
left:76px;
top:1569px;
position:absolute;
line-height:129.99999523162842px;
border-style:hidden;
outline:none;
width:230px;
display:flex;
}
.ellipse6
{
height:214px;
width:189px;
left:130px;
top:2012px;
position:absolute;
border-radius:50%;
}
.ellipse5
{
height:120.47586059570312px;
width:118.94657135009766px;
transform:rotate(0deg);
left:211px;
top:2159.1033935546875px;
position:absolute;
border-radius:50%;
}
.ellipse7
{
height:186px;
width:168px;
left:306px;
top:2129px;
position:absolute;
border-radius:50%;
}
.ellipse8
{
height:189px;
width:164px;
transform:rotate(-1deg);
left:135.04408836364746px;
top:2279px;
position:absolute;
border-radius:50%;
}
.ellipse9
{
height:197px;
width:140px;
left:338px;
top:2135px;
position:absolute;
border-radius:50%;
}
.ellipse10
{
height:128px;
width:103px;
left:321px;
top:2260px;
position:absolute;
border-radius:50%;
}
.frame3
{
height:642px;
width:357px;
align-self:flex-start;
top:2193px;
left:0px;
position:absolute;
padding:0px;
}
.image5
{
background-color:#dbad47;
height:120px;
width:249px;
border-radius:25px;
top:59px;
left:99px;
position:absolute;
}
.image6
{
background-color:#199793;
height:132px;
width:219px;
border-radius:20px;
top:158px;
left:20px;
position:absolute;
}
.image8
{
background-color:#2f2f2f;
height:105px;
width:210px;
border-radius:20px;
top:243px;
left:126px;
position:absolute;
}
.image9
{
background-color:#dbad47;
height:152px;
width:234px;
border-radius:20px;
top:320px;
left:21px;
position:absolute;
}
.image11
{
background-color:#199793;
height:123px;
width:223px;
border-radius:20px;
top:432px;
left:119px;
position:absolute;
}
.image13
{
background-color:#2f2f2f;
height:107px;
width:233px;
border-radius:20px;
top:509px;
left:22px;
position:absolute;
}
.image3
{
height:132px;
width:219px;
border-radius:20px;
left:12px;
top:145px;
position:absolute;
}
.image7
{
height:152px;
width:234px;
border-radius:20px;
left:9px;
top:306px;
position:absolute;
}
.image4
{
height:105px;
width:210px;
border-radius:20px;
left:138px;
top:231px;
position:absolute;
}
.image12
{
height:112px;
width:233px;
border-radius:20px;
left:9px;
top:494px;
position:absolute;
}
.image10
{
height:123px;
width:223px;
border-radius:20px;
left:130px;
top:417px;
position:absolute;
}
.image2
{
height:120px;
width:249px;
border-radius:25px;
left:87px;
top:48px;
position:absolute;
}
.rectangle1
{
background-color:;
height:227px;
width:418px;
top:703px;
left:-29px;
position:absolute;
}
.отзывы
{
color:#dbad47;
text-align:left;
vertical-align:text-top;
font-size:48px;
font-family:Poiret One;
left:107px;
width:143px;
height:62px;
position:absolute;
line-height:129.99999523162842px;
border-style:hidden;
outline:none;
}
.frame2
{
height:26px;
width:277px;
align-self:flex-start;
left:41px;
top:2892px;
position:absolute;
padding:0px;
}
.rectangle3
{
background-color:;
height:222px;
width:422px;
}
.image15
{
height:210px;
width:203px;
top:15px;
position:absolute;
}
.group1
{
width:267px;
height:52px;
}
.rectangle2
{
background-color:;
height:44px;
width:267px;
border-radius:25px;
}
.записаться
{
color:#f6f3ec;
text-align:left;
vertical-align:text-top;
font-size:40px;
font-family:Poiret One;
line-height:129.99999523162842px;
border-style:hidden;
outline:none;
width:183px;
}
.работапозаписи
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Poiret One;
align-self:flex-start;
left:88px;
top:2975px;
position:absolute;
line-height:129.99999523162842px;
border-style:hidden;
outline:none;
width:180px;
display:flex;
}
.ellipse11
{
background-color:#dbad47;
height:100px;
width:100px;
top:36px;
left:134px;
position:absolute;
border-radius:50%;
}
.image14
{
height:122px;
width:131px;
left:236px;
top:340px;
position:absolute;
}
