.androidlarge-1
{
position:absolute;
background-color:#ffffff;
height:3022px;
width:360px;
padding:0px;
}
.image1
{
height:3021.639404296875px;
width:360px;
position:absolute;
top:0px;
left:0px;
}
.image2
{
height:44px;
width:267px;
left:227px;
top:3306px;
position:absolute;
}
.записаться
{
color:#f6f3ec;
text-align:left;
vertical-align:text-top;
font-size:40px;
font-family:Poiret One;
line-height:auto;
text-decoration:underline;
border-style:hidden;
outline:none;
left:88px;
top:2896px;
position:absolute;
width:185px;
}
